<h1>Create an Artist</h1>
<hr>

<%= form_for @artist do |f|%>
    <%=f.label "Name" %><br>
    <%=f.text_field :name %><br>
    <%=f.label "Age" %><br>
    <%=f.number_field :age %><br>
    <%=f.label "Title" %><br>
    <%=f.text_field :title %><br>
    <%=f.submit "Submit" %><br>
    <% end %>