<h3>Create a new arrtist!</h3>
<%= form_for @artist do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br>
<%= f.label :age%>
<%= f.number_field :age%><br>
<%= f.label :title%>
<%= f.text_field :title%><br>
<%= f.submit "Create"%>
<%end%>