<html>
<br>
<br>
<body style="background-color:powderblue;">
<div style="text-align:center">

<h1> Learn more about <%= @artist.name %> </h1>
<br>
<p> <%= @artist.name %> is known as <%= @artist.title %>. </p> 
<p> They are <%= @artist.age %> years old. </p>

<p> They play  <% @artist.instruments.each do |instrument| %> 
    <li><%= instrument.name%> </li>
<%end%>
</p>


</div>
</html>